<section  class="review-post-wrapper sm:grid sm:grid-cols-3 sm:h-72 mb-2 p-2  bg-white bg-opacity-25">
    <!-- post -->
    <div class="flex flex-col col-span-2 sm:mr-2 min-h-0">
      <!-- user and stats -->
      <div class="flex h-fit justify-between bg-white rounded-md bg-opacity-75 text-2xl p-2">

        <!-- user and post stats -->

        <div class="flex sm:flex-row flex-col items-center w-full py-1 px-3 ">

          <!--pfp,  username, date + time -->
          <div class="flex sm:mr-2 mb-1 items-center text-lg">
            <!-- pfp -->
            <img class="post-profile-picture w-12 h-12 mr-2 rounded-lg"
              src="https://microbewiki.kenyon.edu/images/thumb/9/98/PuppyDogEyes.jpg/100px-PuppyDogEyes.jpg"
              alt="pfp" />
            <!--username, post item stats -->
            <div>
              <p class="post-username">{{review.user_id}}</p>
              <span class="post-date text-sm">{{review.date_created}} </span>
            </div>
          </div>

          <!-- rating -->

          <div class="sm:pl-2  flex flex-col sm:flex-row justify-between grow ">
            <!-- location -->
            <div class="ml-auto h-auto py-2 text-2xl text-center underline">
              <p class="post-location">{{location.location_name}}</p>
            </div>
            <!-- star -->
            <div class="text-4xl pb-1 px-2 mx-auto rounded-full bg-byb-orange-light">
              <p class="post-rating">{{review.review_rating}}</p>
            </div>
          </div>

        </div>

      </div>
      <!-- post text -->
      <div
        class="mt-2 sm:mb-0 mb-2 p-6 bg-clip-box bg-white rounded-md sm:h-full h-48 overflow-y-auto sm:overscroll-auto">
        <p class="post-body">{{review.review_text}}
        </p>
      </div>
    </div>
    <!-- post comments that scroll inside the div-->
    <section class="post-comment-section flex flex-col max-h-72 min-h-0 basis-0 flex-1 col-span-1 ">
      <!-- comment button -->

      <button type="button" id="comment-button"
        class="post-comment-button h-fit p-1 mx-3 mb-2 rounded-md text-xl self-center w-full bg-opacity-75 bg-byb-orange shadow-md">
        Comment on this post
      </button>

      <!--post comments section -->

      <section class="post-comment-section flex flex-col sm:h-72 items-center overflow-y-auto sm:overscroll-contain opacity-90">

        <!-- comment card goes here -->
        {{#each comments as |comment|}}

      </section>
    </div>
  </section>
  {{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}
